.card {
    display: flex;
    cursor: pointer;
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    margin-bottom: 1rem;
    /* space between cards */
    width: 100%;
    animation: slideInLeft 1s ease-in-out;
    box-sizing: border-box;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .card {
        width: 50rem;
    }
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.rooms {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 20%));
    grid-gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.rooms.show {
    opacity: 1;
}



@keyframes slideInLeft {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}